mat-form-field {
    background-color: rgb(179, 178, 178);
    margin: 5px;
    
   }

   .example-full-width{
       width: 700px;
      margin-left: 150px;
   }

   form{
       width: 1000px;
       margin: 0 auto;
       border: 2px solid grey;
       border-radius: 15%;
   }

   h1{
       margin-left: 470px;
   }
  